.services {
	padding: 0.625rem 0;
	@media (min-width: $md4) {
		padding: 2.5rem 0;
	}

	&Container {
	}

	&Title {
	}

	&Tabs {
		overflow: visible;
		width: fit-content;
		max-width: 100%;
		margin: 1rem auto 0;
		@media (min-width: $md4) {
			margin: 1.25rem auto 0;
		}
	}

	&TabsSlide {
		width: fit-content;
		@media (min-width: $md3) {
			width: 15rem;
		}
	}

	&TabsBtn {
		width: 100%;
		&.active {
			font-weight: 600;
		}
	}

	&List {
		margin-top: 1rem;
		display: grid;
		gap: 0.5rem;
		&.hidden {
			display: none;
		}
		@media (min-width: $md3) {
			gap: 1rem;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&Slider {
		overflow: visible;
		margin-top: 1rem;
		@media (min-width: $md3) {
			margin-top: 1.5rem;
		}
		:global {
			.swiper-pagination {
				justify-content: center;
				margin-top: 1rem;
				@media (min-width: $md3) {
					margin-top: 1.5rem;
				}
			}
			.swiper-pagination-bullet {
				background-color: $black;
				opacity: 0.16;
			}

			.swiper-pagination-bullet-active {
				opacity: 1;
				background-color: $accent;
			}
		}
	}

	&Slide {
		height: auto;
		width: 18.75rem;
		@media (min-width: $md3) {
			width: 30rem;
		}
	}
}
