.promo {
	padding: 1rem 0 0.625rem;
	@media (min-width: $md3) {
		padding: 2.5rem 0;
	}

	&Container {
	}

	&Slider {
		border-radius: 1rem;
		background: linear-gradient(136deg, #5c46e6 0%, #5b2a97 100%);
		color: $white;
	}

	&Slide {
		height: auto;
		min-height: 23.9375rem;
		@media (min-width: $md1) {
			min-height: 25rem;
		}
	}

	&Card {
		display: flex;
		padding: 1.5rem 1rem 0.75rem 1.5rem;
		flex-direction: column;
		min-height: 100%;
		@media (min-width: $md3) {
			flex-direction: row;
			justify-content: space-between;
			padding: 2.75rem 2.75rem 3.75rem;
		}
		@media (min-width: $md2) {
			padding: 2.75rem 6.25rem 2.25rem 2.75rem;
		}
	}

	&CardMain {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&CardTitle {
		font-weight: 700;
		font-size: 1.75rem;
		line-height: 128.571%;
		@media (min-width: $md4) {
			line-height: 120%;
			font-size: 2.5rem;
		}
	}

	&CardSubtitle {
		color: rgba(255, 255, 255, 0.48);
		margin-top: 0.5rem;
		font-size: 1rem;
		line-height: 150%;
		letter-spacing: 0.028em;
		max-width: 32.8125rem;
		@media (min-width: $md4) {
			letter-spacing: 0.03em;
		}
		&::first-letter {
			text-transform: uppercase;
		}
	}

	&CardText {
		display: none;
		@media (min-width: $md3) {
			display: block;
			color: rgba(255, 255, 255, 0.48);
			margin-top: 0.5rem;
			font-size: 1rem;
			line-height: 150%;
			letter-spacing: 0.028em;
			max-width: 32.8125rem;
			letter-spacing: 0.03em;
			& a {
				text-decoration: underline;
				text-underline-offset: 0.25rem;
				color: #fff;
				@media (any-hover: hover) {
					&:hover {
						text-decoration: none;
					}
				}
			}
			&::first-letter {
				text-transform: uppercase;
			}
		}
	}

	&CardBtn {
		margin-top: 2rem;
		@media (min-width: $md4) {
			margin-top: 2.5rem;
		}
	}

	&CardImage {
		margin-left: auto;
		@media (max-width: $md3) {
			width: 66.66%;
			position: absolute;
			bottom: 0.75rem;
			right: 0;
			&.center {
				right: 50%;
				transform: translateX(50%);
			}
		}
		@media (min-width: $md4) {
			width: rem(285);
			height: rem(240);
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (min-width: $md2) {
			width: rem(380);
			height: rem(320);
		}
		& img {
			max-height: 100%;
		}
	}

	&SliderFooter {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0 1.5rem 1.5rem 1.5rem;
		@media (min-width: $md4) {
			padding: 0 2.25rem 2.75rem 2.75rem;
		}
	}

	&SliderControls {
		display: none;
		@media (min-width: $md4) {
			display: flex;
			gap: 0.5rem;
		}
	}

	&SliderPrev,
	&SliderNext {
		svg {
			width: 1.75rem;
			height: 1.75rem;
		}
	}

	&SliderPagination {
		:global {
			.swiper-pagination-bullet {
				background-color: $white;
				opacity: 0.5;
			}

			.swiper-pagination-bullet-active {
				opacity: 1;
			}
		}
	}
}
