@use "_reset";
@use "_fonts";

:root {
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 16px;
	min-width: 375px;
	min-height: 100%;
	line-height: normal;
	color: $black;
	background-color: $white;
	r &:has(.menu.active) {
		@media (max-width: $md3) {
			overflow: hidden;
		}
	}
}

// ================== ОБОЛОЧКА ==============================

#root {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1rem;

	@media (min-width: $md4) {
		max-width: rem(540);
		box-sizing: content-box;
	}
	@media (min-width: $md3) {
		max-width: rem(720);
	}
	@media (min-width: $md2) {
		max-width: rem(960);
	}

	@media (min-width: $md1) {
		max-width: rem($maxWidthContainer);
	}
}

.title {
	text-align: center;
	font-size: 1.5rem;
	line-height: 133.333%;
	font-weight: 600;
	@media (min-width: $md3) {
		font-size: 2rem;
		line-height: 125%;
	}
}

.gradient-text {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	background-image: linear-gradient(90deg, #ffb14f -6.64%, #f748a6 47.23%, #772dfa 105.97%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	& span {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		background-image: linear-gradient(90deg, $black -6.64%, $black 105.97%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

//=============== LAYOUT ===============================

.swiper-button-prev,
.swiper-button-next {
	width: 2.75rem !important;
	height: 2.75rem !important;
	background: $white !important;
	color: $black !important;
	border-radius: 50%;
	position: static !important;
	inset: auto;
	margin: 0;
	&::after {
		display: none;
	}
}

.swiper-pagination {
	position: static !important;
	inset: auto !important;
	width: auto !important;
	display: flex;
	gap: 0.25rem;
}

.swiper-pagination-bullet {
	cursor: pointer;
}
