.header {
	border-bottom: rem(1) solid rgba(17, 17, 20, 0.08);
	padding: 1rem 0;
	position: relative;
	z-index: $ui-index-6;

	&Logo {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 133.333%;
		margin-right: auto;
		&:hover {
		}
	}

	&Container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&Btn {
	}
}
