.examples {
	padding: 0.625rem 0;
	@media (min-width: $md4) {
		padding: 2.5rem 0;
	}

	&Container {
	}

	&Title {
	}

	&List {
		display: grid;
		gap: 0.5rem;
		margin-top: 1rem;
		@media (min-width: $md3) {
			margin-top: 1.5rem;
			gap: 1rem;
			grid-template-columns: repeat(6, 1fr);
		}
	}

	&Item {
		padding-block: 1.25rem;
		@media (min-width: $md3) {
			grid-column: span 3;
			&:nth-child(5n + 5) {
				grid-column: span 6;
			}
			&:first-child:nth-last-child(2) {
				grid-column: span 3;
			}
			&:last-child:nth-child(2) {
				grid-column: span 3;
			}
		}
		@media (min-width: $md2) {
			grid-column: span 2;
			&:nth-child(5n + 4),
			&:nth-child(5n + 5) {
				grid-column: span 3;
			}
		}
	}
}
