.footer {
	padding: 0.625rem 0 1.5rem;
	@media (min-width: $md4) {
		padding: 2.5rem 0 0;
	}

	&Container {
	}

	&Content {
		border-top: rem(1) solid $line;
		@media (min-width: $md4) {
			border: rem(1) solid $line;
			border-bottom: 0;
			padding-bottom: 4rem;
		}
	}

	&Header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem 0;
		@media (min-width: $md4) {
			padding: 1.5rem;
		}
	}

	&Logo {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 1.125rem;
		font-weight: 500;

		&Icon {
			path {
				fill: $black;
			}
		}
		&:hover {
		}
	}

	&Menu {
		display: none;
		@media (min-width: $md3) {
			display: block;
		}
		@media (min-width: $md2) {
			padding-right: 10.5rem;
		}
	}

	&MenuList {
		display: flex;
		align-items: center;
		gap: 1.25rem;
		font-size: 1rem;
		font-weight: 500;
		line-height: 125%;
		letter-spacing: 0.02rem;
	}

	&MenuItem {
	}

	&MenuLink {
	}

	&Toggler {
		width: 1.5rem;
		height: 1.5rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform 0.3s ease;
		& svg {
			width: 90%;
			height: 90%;
		}
		transform: rotate(180deg);
		&.active {
			transform: none;
		}
	}

	&Body {
		border-top: rem(1) solid $line;
	}

	&Columns {
		display: grid;
		padding: 1.5rem 0rem;
		gap: 1rem;
		@media (min-width: $md4) {
			gap: 1.75rem;
			padding: 2rem 1.5rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&Column {
		&.onlyDesktop {
			display: none;
			@media (min-width: $md4) {
				display: block;
			}
		}
	}

	&ColumnCaption {
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 142.857%;
		letter-spacing: 0.0175rem;
		opacity: 0.48;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&.active {
			opacity: 1;
			.footerColumnCaptionIcon {
				transform: rotate(180deg);
			}
		}
		@media (min-width: $md4) {
			opacity: 1;
		}
	}

	&ColumnCaptionIcon {
		width: 1.5rem;
		height: 1.5rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform 0.3s ease;
		@media (min-width: $md4) {
			display: none;
		}
	}

	&ColumnBody {
		display: none;
		@media (min-width: $md4) {
			display: block !important;
		}
	}

	&ColumnList {
		margin-top: 1rem;
		font-size: 0.875rem;
		line-height: 142.857%;
		letter-spacing: 0.0175rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
		color: rgba(10, 14, 31, 0.48);
	}

	&ColumnItem {
	}

	&ColumnLink {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}

	&ColumnText {
	}

	&ColumnContacts {
		margin-top: 0.5rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
		color: $black;
	}

	&ColumnContact {
		&:is(a),
		a {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: $accent;
				}
			}
		}
	}

	&License {
		border-top: rem(1) solid $line;
		color: rgba(10, 14, 31, 0.48);
		text-align: center;
		font-size: 0.75rem;
		line-height: 133.333%;
		letter-spacing: 0.02rem;
		padding: 1.5rem 0rem 0.5rem;
		@media (min-width: $md4) {
			padding: 1rem 2.5rem;
		}
	}

	&Bottom {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.5rem;

		color: rgba(10, 14, 31, 0.48);
		font-size: 0.75rem;
		line-height: 133.333%;
		letter-spacing: 0.02rem;
		@media (min-width: $md4) {
			justify-content: space-between;
			border-top: rem(1) solid $line;
			border-bottom: rem(1) solid $line;
			padding: 1rem 1.5rem;
		}
	}

	&Copy {
	}

	&Policies {
		display: flex;
		gap: 1rem;
		@media (min-width: $md2) {
			padding-left: 3.5rem;
		}
	}

	&PoliciesLink {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $black;
			}
		}
	}

	&Service {
	}

	&ServicePhone {
		margin-left: 0.5rem;
		color: $black;
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 133.333%;
		letter-spacing: 0.015rem;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
}
