.card {
	display: flex;
	align-items: center;
	gap: 1rem;
	border-radius: 1rem;
	background: $grey;
	padding: 1rem;
	&:has(.cardTitle) {
		& .cardIcon {
			align-self: flex-start;
		}
	}

	&.white {
		background: $white;
		.cardIcon {
			background: $grey;
		}
	}

	&Icon {
		width: 3.5rem;
		height: 3.5rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: $white;
	}

	&Title {
		padding-top: 0.75rem;
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 140%;
		letter-spacing: 0.025rem;
		& + .cardText {
			margin-top: 0.25rem;
			color: rgba(17, 17, 20, 0.64);
			font-weight: 400;
			padding-bottom: 0.75rem;
		}
	}

	&Text {
		font-size: 1rem;
		font-weight: 500;
		line-height: 150%;
		letter-spacing: 0.02rem;
	}
}
