.benefits {
	padding: 0.625rem 0;
	@media (min-width: $md3) {
		padding: 2.5rem 0;
	}

	&Container {
	}

	&Title {
	}

	&Columns {
		display: grid;
		gap: 1.25rem;
		@media (min-width: $md2) {
			gap: 3rem;
			grid-template-columns: repeat(2, 1fr);
			.benefitsTitle {
				text-align: left;
			}
			.benefitsList {
				grid-template-columns: 1fr;
			}
			.benefitsListItem {
				min-height: rem(104);
				&:last-child {
					grid-column: auto;
				}
			}
		}
	}

	&List {
		display: grid;
		gap: 0.5rem;
		margin-top: 1rem;
		@media (min-width: $md3) {
			margin-top: 1.5rem;
			gap: 1rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&ListItem {
		&:last-child {
			@media (min-width: $md3) {
				grid-column: span 2;
			}
			@media (min-width: $md2) {
				grid-column: auto;
			}
		}
	}
}
